<form action="/login" method="post">
  <p>Email:</p>
  <input type="text" name="username" required="true" autofocus="true">

  <p>Password:</p>
  <input type="password" name="password" required="true">

  <p><input type="submit" value="Login"></p>
</form>

<a href="/auth/github">Login with Github</a>
<p>{{message}}</p>
