<h1>Contact page</h1>
<p>Find me in views/pages/contact.hbs</p>

{{#someArray}}
    <p><em>{{this}}</em></p>
{{/someArray}}

{{#if condition}}
  <p>Secret message</p>
{{else}}
  <p>Nothing to see here folks</p>
{{/if}}


{{global}}
